@font-face {
  font-family: 'Bonello'; 
  src: url('https://bettyleg.github.io/FontsR/Bonello-Regular.otf');
  src: url('https://bettyleg.github.io/FontsR/Bonello-Regular.otf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mostfear'; 
  src: url('https://bettyleg.github.io/FontsR/Mostfear.ttf');
  src: url('https://bettyleg.github.io/FontsR/Mostfear.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Dania Kita'; 
  src: url('https://bettyleg.github.io/FontsR/DuniaKita.otf');
  src: url('https://bettyleg.github.io/FontsR/DuniaKita.otf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Headliner'; 
  src: url('https://bettyleg.github.io/FontsR/Headliner.ttf');
  src: url('https://bettyleg.github.io/FontsR/Headliner.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
