@font-face {
  font-family: 'Bonello'; 
  src: url('https://bettyleg.github.io/FontsR/Bonello-Regular.otf');
  src: url('https://bettyleg.github.io/FontsR/Bonello-Regular.otf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
